{% extends 'base.html' %}

{% block title %}
    <title> Oblivion / Use Cases </title>
{% endblock %}

{% block body %}
    <h1 class="title glossary"> GLOSSARY.</h1>

    <div class="glossary-container">

        <div class="ind-word">
            <h4>Word 1</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maxime modi quo aspernatur fugit cupiditate, natus aperiam inventore consequuntur dolore rem veritatis, soluta numquam harum? Temporibus sit accusamus explicabo itaque doloribus tenetur minima esse, commodi omnis odio alias quae aliquid soluta, tempora, quasi modi molestiae sint? Quod modi explicabo repudiandae.</p>
        </div>

        <div class="ind-word">
            <h4>Word 2</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maxime modi quo aspernatur fugit cupiditate, natus aperiam inventore consequuntur dolore rem veritatis, soluta numquam harum? Temporibus sit accusamus explicabo itaque doloribus tenetur minima esse, commodi omnis odio alias quae aliquid soluta, tempora, quasi modi molestiae sint? Quod modi explicabo repudiandae.</p>
        </div>

        <div class="ind-word">
            <h4>Word 3</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maxime modi quo aspernatur fugit cupiditate, natus aperiam inventore consequuntur dolore rem veritatis, soluta numquam harum? Temporibus sit accusamus explicabo itaque doloribus tenetur minima esse, commodi omnis odio alias quae aliquid soluta, tempora, quasi modi molestiae sint? Quod modi explicabo repudiandae.</p>
        </div>

        <div class="ind-word">
            <h4>Word 4</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maxime modi quo aspernatur fugit cupiditate, natus aperiam inventore consequuntur dolore rem veritatis, soluta numquam harum? Temporibus sit accusamus explicabo itaque doloribus tenetur minima esse, commodi omnis odio alias quae aliquid soluta, tempora, quasi modi molestiae sint? Quod modi explicabo repudiandae.</p>
        </div>

        <div class="ind-word">
            <h4>Word 5</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maxime modi quo aspernatur fugit cupiditate, natus aperiam inventore consequuntur dolore rem veritatis, soluta numquam harum? Temporibus sit accusamus explicabo itaque doloribus tenetur minima esse, commodi omnis odio alias quae aliquid soluta, tempora, quasi modi molestiae sint? Quod modi explicabo repudiandae.</p>
        </div>

        <div class="ind-word">
            <h4>Word </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maxime modi quo aspernatur fugit cupiditate, natus aperiam inventore consequuntur dolore rem veritatis, soluta numquam harum? Temporibus sit accusamus explicabo itaque doloribus tenetur minima esse, commodi omnis odio alias quae aliquid soluta, tempora, quasi modi molestiae sint? Quod modi explicabo repudiandae.</p>
        </div>

    </div>
{% endblock %}