{% extends 'base.html' %}


{% block title %}
    <title> Oblivion / Use Cases </title>
{% endblock %}


{% block body %}
    <h1 class="title glossary">Use Cases.</h1>

    <div class="cases-container">
        <h4>Use Case 1</h4>
        <div class="case-img"></div>
    </div>

    <div class="cases-container">
        <h4>Use Case 2</h4>
        <div class="case-img"></div>
    </div>

    <div class="cases-container">
        <h4>Use Case 3</h4>
        <div class="case-img"></div>
    </div>
{% endblock %}
